.heroBanner {
  background-color: #f9f9f9;
  padding: 4rem 1rem;
  text-align: center;
}

.featuresSection {
  padding: 3rem 1rem;
}

.hero__title {
  font-size: 3rem;
  font-weight: 700;
}

.hero__subtitle {
  font-size: 1.3rem;
  color: #555;
}
.section {
  padding: 4rem 0;
}

.sectionAlt {
  padding: 4rem 0;
  background-color: #f9f9f9;
}

.mainContent {
  background: #ffffff;
}

